.App {
  text-align: center;
}
.btn{
  padding: 10px 10px;
  background-color: rgb(141, 227, 10);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3, color 0.3;
}
.btn:hover{
  background-color: rgb(17, 231, 17);
  color: black;
}
.qrcode{
  margin-top: 5px;
  margin-bottom: 2px;
}
